{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/hrcrudjobs.css' %}">
{% endblock %}

{% block content %}

<div class="page-container job-detail-wrapper">

    <!-- HEADER -->
    <div class="job-detail-header">
        <div>
            <h1>{{ job.title }}</h1>
        </div>

        <div class="job-detail-actions">
            <button> <a href="{% url 'hr_job_edit' job.id %}" class="btn-detail btn-detail-edit"> 
                Edit 
            </a></button>

            <form action="{% url 'hr_job_delete' job.id %}" method="post">
                {% csrf_token %}
                <button class="btn-detail btn-detail-delete"
                        onclick="return confirm('Are you sure you want to delete this job?');">
                    Delete
                </button>
            </form>
        </div>
    </div>

    <!-- INFO CARD -->
    <div class="job-info-card">

        <div class="job-info-item">
            <strong>Location:</strong>
            <span>{{ job.location }}</span>
        </div>

        {% if job.min_experience and job.max_experience %}
        <div class="job-info-item">
            <strong>Experience:</strong>
            <span>{{ job.min_experience }} – {{ job.max_experience }} yrs</span>
        </div>
        {% endif %}

        <div class="job-info-item">
            <strong>Work Mode:</strong>
            <span>{{ job.get_work_mode_display }}</span>
        </div>

        <div class="job-info-item">
            <strong>Vacancies:</strong>
            <span>{{ job.vacancies }}</span>
        </div>

        {% if job.min_salary or job.max_salary %}
        <div class="job-info-item">
            <strong>Salary:</strong>
            <span>
                {% if job.salary_type == "yearly" %}
                    ₹{{ job.min_salary }} – ₹{{ job.max_salary }} / year
                {% elif job.salary_type == "monthly" %}
                    ₹{{ job.min_salary }} – ₹{{ job.max_salary }} / month
                {% else %}
                    {{ job.get_salary_type_display }}   
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>

    <!-- DESCRIPTION -->
    <div class="job-section">
        <h3>Description</h3>
        <p class="job-description-text">
            {{ job.description|linebreaks }}
        </p>
    </div>

    <!-- EDUCATION -->
    <div class="job-section">
        <h3>Education</h3>
        {{ job.required_education|default:"Not specified" }}
    </div>

    <!-- APPLICATIONS -->
    <div class="job-section">
        <h3>Applications ({{ job.applications.count }})</h3>

        <a href="{% url 'hr_job_applications' job.id %}" class="btn btn-outline mt-2">
            View Applications
        </a>
    </div>

</div>  

{% endblock %}
